Repository kkrt-labs/cairo-m, pull requests merged in 2025-08, with the labels that each got.

#207 refactor(compiler): remove namespaces
  crates/cairo-m-ls/src/backend.rs
  crates/compiler/formatter/README.md
  crates/compiler/formatter/src/comment_attachment.rs
  crates/compiler/formatter/src/rules/items.rs
  crates/compiler/formatter/tests/formatter_tests.rs
  crates/compiler/formatter/tests/snapshots/formatter_tests__format_const.snap
  crates/compiler/formatter/tests/snapshots/formatter_tests__format_if_statement.snap
  crates/compiler/formatter/tests/snapshots/formatter_tests__format_namespace.snap
  crates/compiler/formatter/tests/snapshots/formatter_tests__format_simple_function.snap
  crates/compiler/formatter/tests/snapshots/formatter_tests__format_struct.snap
  crates/compiler/formatter/tests/snapshots/formatter_tests__format_use_statement.snap
  crates/compiler/parser/src/lexer.rs
  crates/compiler/parser/src/parser.rs
  crates/compiler/parser/tests/parser/toplevel.rs
  crates/compiler/parser/tests/snapshots/diagnostics__toplevel::mixed_valid_invalid.snap
  crates/compiler/parser/tests/snapshots/parameterized__toplevel::invalid_toplevel_parameterized_err.snap
  crates/compiler/parser/tests/snapshots/parameterized__toplevel::namespace_definitions_parameterized_ok.snap
  crates/compiler/parser/tests/snapshots/toplevel::complete_program.snap
  crates/compiler/semantic/README.md
  crates/compiler/semantic/src/definition.rs
  crates/compiler/semantic/src/place.rs
  crates/compiler/semantic/src/semantic_errors.rs
  crates/compiler/semantic/src/semantic_index.rs
  crates/compiler/semantic/src/semantic_index_tests.rs
  crates/compiler/semantic/src/type_resolution.rs
  crates/compiler/semantic/src/validation/control_flow_validator.rs
  crates/compiler/semantic/src/validation/type_validator.rs
  crates/compiler/semantic/src/visitor.rs
  crates/compiler/semantic/tests/common/snapshots/diagnostics__types::bool_return_error_test::test_numeric_literal_in_bool_function_errors.snap
  crates/compiler/semantic/tests/common/snapshots/diagnostics__types::literal_type_inference_tests::test_mixed_type_operations_still_error.snap
  crates/compiler/semantic/tests/common/snapshots/diagnostics__types::return_type_inference::test_wrong_literal_type_still_errors.snap
  crates/compiler/semantic/tests/common/snapshots/parameterized__scoping::duplicate_definitions::test_duplicate_definitions_and_shadowing.snap
  crates/compiler/semantic/tests/common/snapshots/parameterized__scoping::undeclared_types::test_undeclared_variables_parameterized.snap
  crates/compiler/semantic/tests/common/snapshots/parameterized__structures::literals::test_struct_literals.snap
  crates/compiler/semantic/tests/common/snapshots/parameterized__types::literal_type_inference_tests::test_parameterized_literal_inference.snap
  crates/compiler/semantic/tests/scoping/duplicate_definitions.rs
  crates/compiler/semantic/tests/semantic_model/mod.rs
  crates/compiler/semantic/tests/types/function_signature_tests.rs
  crates/compiler/semantic/tests/types/struct_type_tests.rs
  crates/compiler/semantic/tests/types/type_resolution_tests.rs
  vscode-cairo-m/syntaxes/cairo-m.tmLanguage.json
Labels: compiler

#222 feat(wasm): initial wasm crate
  .github/workflows/rust-tests.yml
  Cargo.lock
  Cargo.toml
  crates/wasm/Cargo.toml
  crates/wasm/README.md
  crates/wasm/src/lib.rs
  crates/wasm/src/loader.rs
  crates/wasm/src/main.rs
  crates/wasm/tests/snapshots/wasm_loading_tests__load_add_wasm.snap
  crates/wasm/tests/snapshots/wasm_loading_tests__load_fib_wasm.snap
  crates/wasm/tests/test_cases/add.wasm
  crates/wasm/tests/test_cases/add.wat
  crates/wasm/tests/test_cases/fib.wasm
  crates/wasm/tests/test_cases/fib.wat
  crates/wasm/tests/wasm_loading_tests.rs
Labels: wasm

#189 feat(prover): updated public memory
  crates/common/src/lib.rs
  crates/common/src/program.rs
  crates/prover/benches/prover_memory_benchmark.rs
  crates/prover/benches/prover_speed_benchmark.rs
  crates/prover/src/adapter/memory.rs
  crates/prover/src/adapter/merkle.rs
  crates/prover/src/adapter/mod.rs
  crates/prover/src/components/memory.rs
  crates/prover/src/components/merkle.rs
  crates/prover/src/debug_tools/relation_tracker.rs
  crates/prover/src/main.rs
  crates/prover/src/public_data.rs
  crates/prover/tests/prover.rs
  crates/prover/tests/serialization.rs
  crates/runner/src/lib.rs
Labels: prover

#263 feat(prover): add assert_eq components
  crates/prover/src/components/opcodes/assert_eq_fp_fp.rs
  crates/prover/src/components/opcodes/assert_eq_fp_imm.rs
  crates/prover/src/components/opcodes/mod.rs
Labels: prover

#261 feat(prover): add range_check 8 and 16
  crates/prover/src/components/mod.rs
  crates/prover/src/components/opcodes/assert_eq_fp_fp.rs
  crates/prover/src/components/opcodes/assert_eq_fp_imm.rs
  crates/prover/src/components/opcodes/call_abs_imm.rs
  crates/prover/src/components/opcodes/jmp_imm.rs
  crates/prover/src/components/opcodes/jnz_fp_imm.rs
  crates/prover/src/components/opcodes/mod.rs
  crates/prover/src/components/opcodes/ret.rs
  crates/prover/src/components/opcodes/store_double_deref_fp.rs
  crates/prover/src/components/opcodes/store_fp_fp.rs
  crates/prover/src/components/opcodes/store_fp_imm.rs
  crates/prover/src/components/opcodes/store_imm.rs
  crates/prover/src/debug_tools/assert_constraints.rs
  crates/prover/src/debug_tools/relation_tracker.rs
  crates/prover/src/preprocessed/mod.rs
  crates/prover/src/preprocessed/range_check/mod.rs
  crates/prover/src/preprocessed/range_check/range_check_20.rs
  crates/prover/src/preprocessed/range_check/range_check_macro.rs
  crates/prover/src/relations.rs
Labels: prover
